// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.page-footer{
  background-color: white;
  padding-top: 75px;
  margin-top: -2px;

  @include respond-to(sm){
    padding-top: 150px;
  }


  &__inner{
    border-top: solid black;
    border-width: 1px;
    padding-top: 16px;
    padding-bottom: 77px;

    @include respond-to(sm){
      padding-bottom: 80px;
      padding-bottom: 34px;
    }

    li{
      font-family: NeueMachina-Medium;
      padding-bottom: 10px;  
      font-size: 14px;   
    }
  

  }

  &__arrow{
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
    justify-content: center;
    

    svg{
      height: 28px;
      margin-top: -180px;
      transform: rotate(180deg);
      animation-name: bouncefooter;
      position: relative;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      margin-right: 4px;

      path{
        fill: $red;
      }

      @include hover{
        cursor: pointer;
      }

      @include respond-to(sm){
        margin-top: -100px;
      }
    }
  }

  &__col-one{
    grid-column-start: 2;
    grid-column-end: 7;
    margin-top: 19px;

    @include respond-to(sm){
      grid-column-start: 2;
      grid-column-end: 5;
    }
  }

  &__col-two{
    grid-column-start: 8;
    grid-column-end: 12;
    margin-top: 19px;

    @include respond-to(sm){
      grid-column-start: 5;
      grid-column-end: 7;
    }

    p{
      font-size: 10px;
      margin-top: 2px;
      margin-left: -64%;

     @include respond-to(sm){
      margin-left: 0%;
      font-size: 10px;
      margin-top: 38px;  
    }

    }
  }

  &__col-three{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row: 1;


    @include respond-to(sm){
      grid-column-start: 8;
      grid-column-end: 11;
      grid-row: auto;
    }

    h3{
      font-family: 'NeueMachina-Bold';
      font-size: 26px;
      margin-bottom: 10px;
    }
  }

  &__newsletter{
    position: relative;

    input{
      width: 100%;
      padding: 8px 10px;

      @include respond-to(sm){
        padding: 10px 10px;
      }

      &::placeholder{
        font-family: NeueMachina-Medium;
        font-size: 10px;   
      }
    }

    svg{
      position: absolute;
      top: 0;
      right: 0;
      height: 20px;
      width: 20px;
      margin-top: 9px;
      margin-right: 4px;
      transition: 0.4s;

      @include hover{
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}

@keyframes bouncefooter {
  0% {top: 0px;}
  80% {top: -7px;}
  100% {top: 0px;}
}