.about-author-heading{
  padding-top: 4px;
  padding-bottom: 15px;

  @include respond-to(sm){
    padding-top: 16px;
  }

  @include respond-to(xl){
    padding-top: 20px;
  }

  h4{
    grid-column-start: 2;
    grid-column-end: 11;

    @include respond-to(sm){
      grid-column-start: 3;
      grid-column-end: 10;
    }
  }
}