.artists{
  padding-top: 38px;

  @include respond-to(sm){
    padding-top: 100px;
  }

  h1{
    grid-column-start: 1;
    grid-column-end: 12;
    color: red;
    font-family: 'NeueMachina-Medium';
    padding-bottom: 12px;


    @include respond-to(sm){
      padding-bottom: 30px;

    }
  }

  h5{
    padding-top: 2px;

    @include respond-to(sm){
      padding-top: 10px;
    }

    @include respond-to(xl){
      font-size: 18px;
    }
  }

  &__search-bar{
    grid-column-start: 1;
    grid-column-end: 7;
    position: relative;

    @include respond-to(sm){
      grid-column-start: 1;
      grid-column-end: 4;
    }

    input{
      width: 100%;
      padding: 8px 10px;

      @include respond-to(sm){
        padding: 6px 10px;
      }
    }

    svg{
      position: absolute;
      top: 11px;
      left: -23px;
      height: 15px;

      @include respond-to(sm){
        top: 8px;
      }
    }
  }

  &__grid{
    padding-top: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 28px;

    @include respond-to(sm){
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

  }

  &__item{
    p{
      color: $red;
      font-family: 'NeueMachina-Medium';
      margin-bottom: 18px;
    }

    img{

    }
  }

  &__img-container{
    height: 35vw;
    width: 100%;
    object-fit: cover;
    overflow: hidden;

    @include respond-to(sm){
      height: 25vw;
    }

    @include respond-to(xl){
      height: 350px;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.8s;

      @include hover{
        transform: scale(1.1);
      }
    }
  }

  &__btn{
    border: solid black;
    border-width: 1px;
    display: table;
    transition: 0.4s;

    @include hover{
      background-color: black;

      p{
        color: white;
      }
    }

    p{
      font-family: 'NeueMachina-Light'; 
      padding: 5px 20px;;  
      margin: 0;
      font-size: 14px;

    }
  }
}