.author-copy{

  &__image-wrap{
    margin-left: -22%;
    width: 70%;
    float: left;
    margin-right: 16px;

    @include respond-to(sm){
      width: 39%;
      margin-right: 29px;
    }
  }

  &__image-wrap--right{
    margin-left: 16px;
    width: 70%;
    float: right;
    margin-right: calc(-12% + -10px);

    @include respond-to(sm){
      width: 39%;
      margin-left: 29px;
    }
  }

  &__wrap{
    grid-column-start: 3;
    grid-column-end: 12;
    margin-left: -12px;
    width: calc(100% + 12px);
    padding-top: 40px;
    z-index: 9;
    top: 0;



    @include respond-to(md){
      margin-top: 0px;
      margin-left: 0px;
      width: calc(100%);
    }

  }

  &__inner{
    position: relative;

    p{
      grid-column-start: 3;
      grid-column-end: 12;
      margin-bottom: 40px;
    }

    h5{
      font-size: 10px;
      font-family: NeueMachina-Medium;
      margin-top: 10px;
      padding: 0px 10px;
    }
  }
}