.author-timeline{
  padding-top: 100px;
  position: relative;
  padding-bottom: 100px;
  display: none;

  @include respond-to(sm){
    display: block;
    padding-top: 125px;
  }

  @include respond-to(xl){
    padding-top: 150px;
  }

  &__center-line{
    width: 50%;
    height: calc(0% + 8px);
    border-right: solid $red;
    border-width: 1px;
    position: absolute;
    z-index: 1;
    

    &:before{
      content: "";
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: $red;
      position: absolute;
      top: 0;
      right: -5px;
    }

    &:after{
      content: "";
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: $red;
      position: absolute;
      bottom: 0;
      right: -5px;
    }
  }

  &__inner{
    position: relative;
    z-index: 9;

    h4, h3{
      font-size: 14px;
      position: relative;
    }

    h3{
      opacity: 0;
      transform: translateY(150%);
    }

    h4:last-of-type{
      margin-bottom: 0px;
    }

    h5{
      font-size: 10px;
      font-family: NeueMachina-Medium;
      margin-top: 10px;
    }

    p{
      font-size: 12px;
      font-family: 'LibreBaskerville-Regular';
    }
  }


  &__leading-line{
    content: "";
    display: block;
    border-bottom: solid $red;
    border-width: 1px;
    position: absolute;
    bottom: -10px;
    padding-bottom: 10px;
    position: relative;
    transform: scale(0);
    top: -5px;
  }







  &__row-one-left-img{
    grid-column-start: 2;
    grid-column-end: 4;
  }

  &__row-one-left-text{
    grid-column-start: 4;
    grid-column-end: 6;    

    .author-timeline__leading-line{
      width: calc(150% + 68px);
      left: -34px;
      transform-origin: bottom right;

    }
  }

  &__row-one-right-text{
    grid-column-start: 8;
    grid-column-end: 10;
    margin-top: 28px;

    .author-timeline__leading-line{
      width: calc(150% + 68px);
      left: calc(-50% - 34px);
      transform-origin: bottom left;
    }
  }

  &__row-one-right-img{
    grid-column-start: 10;
    grid-column-end: 12;
    margin-top: 28px;
  }







  &__row-two-left-img{
    grid-column-start: 3;
    grid-column-end: 5;
  }

  &__row-two-left-text{
    grid-column-start: 5;
    grid-column-end: 7;

    .author-timeline__leading-line{
      width: calc(100% + 51px);
      left: -34px;
      transform-origin: bottom right;
    }
  }

  &__row-two-right-text{
    grid-column-start: 7;
    grid-column-end: 9;
    margin-top: 28px;


    .author-timeline__leading-line{
      width: calc(100% + 51px);
      left: -18px;  
      transform-origin: bottom left;
    }
  }

  &__row-two-right-img{
    grid-column-start: 9;
    grid-column-end: 11;
    margin-top: 28px;
  }




  &__row-three-left-img{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: -28px;
  }

  &__row-three-left-text{
    grid-column-start: 3;
    grid-column-end: 5;
    margin-top: -28px;

    .author-timeline__leading-line{
      width: calc(200% + 85px);
      left: -34px;
      transform-origin: bottom right;
    }
  }

  &__row-three-right-text{
    grid-column-start: 9;
    grid-column-end: 11;
    margin-top: -74px;



    .author-timeline__leading-line{
      width: calc(200% + 85px);
      left: calc(-100% - 51px);
      transform-origin: bottom left;
    }
  }

  &__row-three-right-img{
    grid-column-start: 11;
    grid-column-end: 13;
    margin-top: -74px;
  }
}











.mobile-author-timeline{

  padding-top: 50px;
  padding-bottom: 50px;
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;



  @include respond-to(sm){
    display: none;
  }

  &__inner{
    width: 1800px;
    margin: 20px;
    margin-left: 0;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #F9F8D0;
    height: 100vh;
    overflow: hidden;

    p{      
      background-color: #f9f8d0;
      z-index: 9;
      font-size: 12px;
      padding-bottom: 16px;
      position: relative;
    }

    h3, h4{
      background-color: #f9f8d0;
      z-index: 9;
      position: relative;
    }

    h4{
      font-family: 'NeueMachina-Bold';
      font-weight: 700;
    }

    h4:last-of-type{
      padding-bottom: 0px;
    }

    
    h5{
      font-size: 10px;
      font-family: NeueMachina-Medium;
      margin-top: 10px;
    }
  }

  &__center-line{
    position: absolute;
    bottom: 0;
    width: 0%;
    border-top: solid $red;
    border-width: 2px;
    margin-bottom: 4px;


    &:before{
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $red;
      position: absolute;
      top: -5px;
      left: 0px;
    }

    &:after{
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $red;
      position: absolute;
      top: -5px;
      right: 0px;
    }
  }

  &__top{
    display: grid;
    grid-template-columns: repeat(36,minmax(0,1fr));
    grid-column-gap: 12px;
    // border-bottom: solid $red;
    border-width: 2px;    

    padding-top: 49px;
    position: relative;
    height: calc(50vh - 14px);
    overflow: hidden;
  }

  &__title{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;

    h2{
      color: red;
      font-family: NeueMachina-Regular;
      font-weight: 400;
      font-size: 18px;
    }

    svg{
      margin-left: -8px;
      height: 28px;
      fill: $red;
      padding-top: 4px;
      animation: arrow 2s infinite
    }
  }

  &__bottom{
    display: grid;
    grid-template-columns: repeat(36,minmax(0,1fr));
    grid-column-gap: 12px;    
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: -4px;

    height: calc(50vh);
    overflow: hidden;

    .mobile-author-timeline__leading-line{
      bottom: auto;
      top: -60px;
      left: 11%;
    }
  }

  &__leading-line{
    height: 0%;
    width: 9px;
    border-left: solid red;
    border-width: 2px;
    position: absolute;
    bottom: 4px;
    left: 25%;
    z-index: 1;
  }


  &__top-colomn-one-text{
    grid-column-start: 2;
    grid-column-end: 8;
    position: relative;
  }

  &__top-colomn-one-img{
    grid-column-start: 9;
    grid-column-end: 14;
  }


  &__top-colomn-two-text{
    grid-column-start: 14;
    grid-column-end: 22;
    position: relative;
  }

  &__top-colomn-two-img{
    grid-column-start: 23;
    grid-column-end: 27;
  }

  &__top-colomn-three-text{
    grid-column-start: 23;
    grid-column-end: 28;
    position: relative;
  }

  &__top-colomn-three-img{
    grid-column-start: 23;
    grid-column-end: 27;
  }





  &__bottom-colomn-one-text{
    grid-column-start: 4;
    grid-column-end: 9;
    position: relative;
  }

  &__bottom-colomn-one-img{
    grid-column-start: 1;
    grid-column-end: 4;
  }


  &__bottom-colomn-two-text{
    grid-column-start: 11;
    grid-column-end: 18;
    position: relative;
  }

  &__bottom-colomn-two-img{
    grid-column-start: 19;
    grid-column-end: 24;
  }


  &__bottom-colomn-three-text{
    grid-column-start: 28;
    grid-column-end: 34;
    position: relative;
  }

  &__bottom-colomn-three-img{
    grid-column-start: 24;
    grid-column-end: 27;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}


@keyframes arrow {
  0% {margin-left: -10px;}
  75% {margin-left: 0px;}
  100% {margin-left: -10px;}
}