/**
 * Basic typography style for copy text
 */

html {
  // This defines what 1 rem is
  font-size: 62.5%;
}

body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

h2{
  font-size: 22px;
  font-family: 'NeueMachina-Bold';

  @include respond-to(sm){
    font-size: 40px;
  }

  @include respond-to(xl){
    font-size: 50px;
  }
}


h3{
  font-size: 15px;
  font-family: 'NeueMachina-Medium';
  color: $red;
  font-weight: 400;  
  line-height: 1.5;

  @include respond-to(sm){
    font-size: 22px;
  }

  @include respond-to(xl){
    font-size: 26px;
  }
}

h4{

  font-size: 16px;
  font-family: 'NeueMachina-Medium';
  font-weight: 400;

  @include respond-to(sm){
    font-size: 28px;
    font-family: 'NeueMachina-Bold';
  }

  @include respond-to(xl){
    font-size: 34px;
  }

}

h5{
  font-size: 13px;
  font-family: 'NeueMachina-Medium';
  font-weight: 400;

  @include respond-to(sm){
    font-size: 18px;
  }

  @include respond-to(xl){
    font-size: 20px;
  }
}

p{
  font-family: 'LibreBaskerville-Regular';
  font-size: 14px;
  line-height: 1.5;


  @include respond-to(sm){
    font-size: 17px;
    line-height: 1.8;
  }

  @include respond-to(xl){
    font-size: 19px;
    line-height: 2;
  }
}